
<app-header></app-header>
  <table border="1" align="center"> 
    <tr>
      <td align="center"> 
          FirstName
      </td>
      <td align="center"> 
          {{response.firstname}}
      </td>
    </tr>
    <tr>
        <td align="center"> 
            LastName
        </td>
        <td align="center"> 
            {{response.lastname}}
        </td>
      </tr>
      <tr>
          <td align="center"> 
              Email
          </td>
          <td align="center"> 
              {{response.email}}
          </td>
        </tr>
        <tr>
            <td align="center"> 
                Contact No
            </td>
            <td align="center"> 
                {{response.contact}}
            </td>
          </tr>
          <tr>
              <td align="center"> 
                  Birth Date
              </td>
              <td align="center"> 
                  {{response.birthdate | date:'dd-MM-yyyy'}}
              </td>
            </tr>
            <tr>
                <td align="center"> 
                    Address
                </td>
                <td align="center"> 
                    {{response.address}}
                </td>
              </tr>
  </table>
<app-footer></app-footer>
