<form #form="ngForm" method="POST" (ngSubmit)="loginUser(form)">
    <!-- <div>
        <label>Email Address </label>
        <input type="email" [(ngModel)]="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div> -->
    <table border="1" align="center"> 
            <tr>
                <td>
                    Email Address
                </td>
                <td>
                    <input type="email" [(ngModel)]="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required/>
                </td>
            </tr>
            <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" [(ngModel)]="password" name="password" required/>
                    </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
</form>
<div class="signup" (click)="redirectSignUp()">
        Sign-Up
    </div>
<div *ngIf="showError" class="error-msg">
    {{errorMsg}}
</div>