<form #form="ngForm">
  <table border="1" align="center">
    <tr>
      <td>
        First Name
      </td>
      <td>
        <input type="text" [(ngModel)]="firstName" name="firstName" maxlength="30" required />
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <input type="text" [(ngModel)]="lastName" name="lastName" maxlength="30" required />
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <input type="email" [(ngModel)]="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
          required />
      </td>
    </tr>
    <tr>
      <td>
        Password
      </td>
      <td>
        <input type="password" [(ngModel)]="password" name="password" required />
      </td>
    </tr>
    <tr>
      <td>
        Mobile No
      </td>
      <td>
        <input type="text" maxlength="10" [(ngModel)]="contactNo" name="contactNo" required />
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        <textarea [(ngModel)]="address" name="address" required></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Birth Date
      </td>
      <td>
        <input type="date" [(ngModel)]="birthDate" name="birthDate" required [max]="maxDate" />
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" value="Sign-Up" (click)="signUpUser(form);">
      </td>
    </tr>
  </table>
</form>
<div class="login" (click)="redirectLogin()">
    Log-In
</div>
<div *ngIf="showError" class="error-msg">
    {{errorMsg}}
</div>